@{
    ViewBag.Title = "Home Page";
}

<style>
    /* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
    #map {
        height: 700px;
        width:700px;
    }
   
</style>
<br>
<div class="row">
    <script>
      var map;
      function initMap() {
        map = new google.maps.Map(document.getElementById('map'), {
          center: {lat: -34.397, lng: 150.644},
          zoom: 8
        });
      }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA9GPZqhfx4OA_VN6mS2peLX-P__OgYSEM&callback=initMap"
            async defer></script>
</div>